/* Add CSS Styling */
.odd-element {
    background-color: #ee83af;
    font-family: Verdana, 'Dejavu Sans', sans-serif;
}

#first {
    color: rgb(5, 5, 177);
    font-size: 36px;
}

.cool-element {
    font-size: 24px;
}

#second {
    background-color: rgb(159, 253, 159);
    font-size: 24px;
    font-weight: bold;
}